<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/home.css" />

<div
    class="d-flex flex-column text-center text-white cover-container justify-content-center"
>
    <h1>Welcome to YelpCamp</h1>
    <div>
        <a href="/campgrounds" class="mt-3 mb-2 btn btn-success"
            >Explore Campgrounds</a
        >
    </div>
    <p class="lead fw-bold">or</p>
    <div class="mb-1">
        <a href="/login" class="btn btn-outline-primary text-white">Login</a>
        <a href="/register" class="btn btn-primary">Register</a>
    </div>
    <p class="lead fw-bold">to create camps and write reviews</p>
</div>
